
<ul class="navbar" >
    <li><a href="/" > Home </a></li>

    <li>
        <form action="{% url 'home' %}" >
            <input type="text" name="q" palceholder="search..." >

            <button> Search </button>
        </form>
    </li>
    {% if request.user.is_authenticated %}
        <li class="x" ><a href="{% url 'logout' %}" > Logout </a></li>
        
        <li><a href="{% url 'update_user' %}" > Update profile </a></li>
        {% comment %} <li></li> {% endcomment %}

    {% else %}
        <li><a href="{% url 'login' %}" > Login </a></li>
        
        <li><a href="{% url 'register' %}" > Register </a></li>
    {% endif %}
</ul>


