{% extends 'main.html' %}

{% block title %}
Update Room
{% endblock title %}


{% block content %}

<form method="POST" >
    {% csrf_token %}
    
    <label> Topic </label>
    <input type="text" name="topic" value="{{room.topic}}" required list="topic-list" >
    <datalist id="topic-list" >
        <select id="room-topic" >
            {% for topic in topics %}
                <option value="{{topic.name}}" > {{topic.name}} </option>
            {% endfor %}
            
        </select>
    </datalist>
    <br>
    <label> Name </label>
    <input type="text" name="name" value="{{room.name}}" required >
    <br>
    <label> Description </label>
    <textarea name="description" > {{room.description}} </textarea>
    <br>

    <button> Edit </button>

</form>

{% endblock content %}